<h1>USER PROFILE PAGE</h1> <br>

	<% @photobooths.each do |photobooth| %>
		<%= image_tag photobooth.image.url %> <br>
	<% end %>
<%= link_to 'New Photobooth', new_photobooth_path %> <br>
<%= link_to 'Log Out', destroy_user_session_path %>
<%= @user  %>