<!-- <h1>USER PROFILE PAGE</h1> <br> -->

<nav class="navbar navbar-expand-md fixed-top bg-light" style="height: 120px;">
	 <a class="navbar-brand" href="#">SNAP-BOOGIE</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 	aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-5" style="height: 103px;">
	<div class="row justify-content-center">
	    <div class="card" style="margin-top: 6rem;">
	  		<%= image_tag('profile-picture.jpg', class: 'img-fluid', style: 'height:320px; padding:12px;') %>
	  		<div class="card-body text-center">
	  			<h4>Jeremy&nbsp;Scott</h4>
	  		</div>
		</div>
	</div>
</div>

<div class="container" style="margin: 28rem auto 3rem auto;">
	<div class="row">
		<% @photobooths.each do |photobooth| %>
			<div class="col-4 col-sm-4 col-md-4 pb-5">
				<%= image_tag photobooth.image.url, class: 'img-fluid' %>
			</div>
		<% end %>	
	</div>
</div>

<div class="container-fluid text-center" style="margin-top: 10px; background-color: #FBD0C9">
	<h3>Ready for your <br> next challenge?</h3>
	<%= link_to 'New Photobooth', new_photobooth_path, class: 'btn btn-primary' %> <br><br>
	<%= link_to 'Log Out', destroy_user_session_path, class: 'btn btn-danger' %> <br><br>
</div>


<!-- <nav class="navbar navbar-bottom bg-primary">
    <%# image_tag('photo-button.png', style: "margin: -56px auto 0 auto") %>
</nav> -->