<style>

nav .fa{
    font-size: 80px;
    color:red;
    width: 50px;
    height: 85px;*/
    text-align: center;

  }
</style>

<div id="carouselExampleIndicators" class="carousel slide overlay" data-ride="carousel">
    <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active sameHeightImages">
      <%= image_tag('girl.jpg', class: 'd-block w-100') %>
      <div class="carousel-caption d-md-block">
        <h3>Express Yourself</h3>
      </div>
    </div>
    <div class="carousel-item sameHeightImages">
        <%= image_tag("retro-selfie.jpg", class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Challenge your friends</h3>
        </div>
    </div>
    <div class="carousel-item sameHeightImages">
        <%= image_tag("balloon-girl.jpg", class: 'd-block w-100')%>
        <div class="carousel-caption d-none d-md-block">
          <h3>Take great pictures</h3>
        </div>
    </div>
    <div class="carousel-item sameHeightImages">
        <%= image_tag("headphones.jpg", class: 'd-block w-100')%>
        <div class="carousel-caption d-none d-md-block">
          <h3>Choose your MUSIC</h3>
        </div>
    </div>
  </div>

    <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<nav class="navbar navbar-dark sticky-bottom">
  <p><a href="http://localhost:3000/users/sign_in" class="">Log In</a></p>
    <i class="fa fa-chevron-circle-up fa-5x" aria-hidden="true"></i>
  <p><a href="http://localhost:3000/users/sign_up" class="">Sign Up</a></p>
</nav>
