<style>

#sign-up {
  position: relative;
  top: 50%;
  width: 650px;
  height: 350px;
  background-color: #ffffff;
}

#sign-up-email input {
  height: 110px;
}

#sign-up-password input {
  height: 110px;
}


#sign-up-button input {
    width: 650px;
    height: 110px;
    background-color: #ba77ff;
    font-family: Avenir;
    font-size: 46px;
    font-weight: 300;
    line-height: 50%;
}

</style>

<div class="girl">
  <div class="container" id="sign-up">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group m-0 p-0" id="sign-up-email">
         <%= f.email_field :email, autofocus: true, placeholder: raw("&#xf007") + " Username", style: "font-family: FontAwesome", class: 'form-control' %> 
        </div>
        
        <div class="form-group m-0 p-0" id="sign-up-password">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions d-flex justify-content-center" id="sign-up-button">
          <%= f.submit "Sign in", class: 'btn btn-primary' %>
        </div>
  <% end %>
  </div>



<%# render "devise/shared/links" %>

</div>