<h1>This is the Music Genres Page</h1> <br>
<p>You should see this page after the user has taken the picture</p> <br>

<h3>There should be a button here that should take you to the Timeline page</h3>
<h3>There should be a button here that should take you to the Sharing page</h3>


<%= image_tag @photobooth.image.url %>

