// Place all the styles related to the musicgenres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i{
  text-align: center;
}

h1{
  text-align: center;

}

h3{
  text-align: center;
}
